@model Navz.UniversitySystem.Application.Administrators.Commands.CreateAdministrator.CreateAdministratorCommand

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Create Administrator</h1>
                <form asp-action="Create" asp-controller="Administrator" data-ajax="true" data-ajax-method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(x => x.FirstName)
                                @Html.EditorFor(x => x.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(x => x.FirstName)
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(x => x.LastName)
                                @Html.EditorFor(x => x.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(x => x.LastName)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(x => x.EmailAddress)
                                @Html.EditorFor(x => x.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(x => x.EmailAddress)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Password)
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(x => x.ConfirmPassword)
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ConfirmPassword)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-block btn-primary" type="submit">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

